[Unit]
Description=Dispatcher Web2 Flux v1 Dev
After=syslog.target network.target
[Service]
User=root
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/usr/local/cuda/bin"
Environment="com_camenduru_mongodb_uri=mongodb://127.0.0.1:27017/web2"
Environment="com_camenduru_worker_uri=http://127.0.0.1:8000"
Environment="com_camenduru_job_type=flux.1-dev-local"
Environment="com_camenduru_job_source=WEB:API"
Environment="com_camenduru_server_port=1405"
WorkingDirectory=/content/com.camenduru/dispatcher2
ExecStart=/bin/bash -c 'python dispatcher2.py'
Restart=always
[Install]
WantedBy=multi-user.target
